Source: rufus-mnemo
Section: ruby
Priority: optional
Maintainer: David Greaves <david@dgreaves.com>
Uploaders: Islam Amer <islam.amer@nokia.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.1.0)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/collab-maint/libnet-jabber-loudmouth-perl.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libnet-jabber-loudmouth-perl.git;a=summary
Homepage: http://github.com/jmettraux/rufus-mnemo/

Package: ruby-rufus-mnemo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
# rake (>= 0), jeweler (>= 0)
Description: Turning (large) integers into japanese sounding words and vice versa
 .\n Turning (large) integers into japanese sounding words and vice versa'
 .\n

