Source: ruby-rufus-mnemo
Section: ruby
Priority: optional
Maintainer: David Greaves <david@dgreaves.com>
Uploaders: Islam Amer <islam.amer@nokia.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-rufus-mnemo.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-rufus-mnemo;a=summary
Homepage: http://github.com/jmettraux/rufus-mnemo/
XS-Ruby-Versions: all

Package: ruby-rufus-mnemo
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter
# rake (>= 0, development), jeweler (>= 0, development)
Description: Turning (large) integers into japanese sounding words and vice versa
 .
 Turning (large) integers into japanese sounding words and vice versa'
 .
